*{
    margin: 0;
    padding: 0;
}
html, body, .wrapper{
    width: 100%;
    height: 100%;
}

.wrapper{
    background-color: #CD3333;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transition: background-color .3s linear;
}
.box{
    display: flex;
}
.cube{
    position: relative;
    width: 100px;
    height: 100px;
    /* border: 1px solid #fff; */
    transform-style: preserve-3d;
    transform: rotateX(10deg) rotateY(-15deg);
    margin: 50px;
}
.cube .item{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    /* background: url(./img/c3.png) 0% 0% /cover no-repeat; */
    background-image: url(./img/c3.png);
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.cube:nth-of-type(2) .item{
    background-image: url(./img/c5.png);    
}
/* 前 */
.cube .item:nth-of-type(1){
    transform: translateZ(50px);
}
/* 右 */
.cube .item:nth-of-type(2){
    transform: rotateY(90deg) translateZ(50px);
}
/* 后 */
.cube .item:nth-of-type(3){
    transform: translateZ(-50px);
}
/* 左 */
.cube .item:nth-of-type(4){
    transform: rotateY(-90deg) translateZ(50px);
}
/* 上 */
.cube .item:nth-of-type(5){
    transform: rotateX(90deg) translateZ(50px);
}
/* 下 */
.cube .item:nth-of-type(6){
    transform: rotateX(-90deg) translateZ(50px);
}

#in-top{
    animation: inTop .5s ease-in-out forwards;
}
@keyframes inTop{
    0%{
        transform: translateZ(0px) rotateX(10deg) rotateY(-15deg);
    }
    100%{
        transform: translateZ(200px) rotateX(-180deg) rotateY(-15deg);
    }
}

#out-top{
    animation: outTop .5s ease-in-out forwards;
}
@keyframes outTop{
    0%{
        transform: translateZ(200px) rotateX(-180deg) rotateY(-15deg);
    }
    100%{
        transform: translateZ(0px) rotateX(10deg) rotateY(-15deg);
    }
}

#in-bottom{
    animation: inBottom .5s ease-in-out forwards;
}
@keyframes inBottom{
    0%{
        transform: translateZ(0px) rotateX(10deg) rotateY(-15deg);
    }
    100%{
        transform: translateZ(200px) rotateX(180deg) rotateY(-15deg);
    }
}

#out-bottom{
    animation: outBottom .5s ease-in-out forwards;
}
@keyframes outBottom{
    0%{
        transform: translateZ(200px) rotateX(180deg) rotateY(-15deg);
    }
    100%{
        transform: translateZ(0px) rotateX(10deg) rotateY(-15deg);
    }
}

#in-left{
    animation: inLeft .5s ease-in-out forwards;
}
@keyframes inLeft{
    0%{
        transform: translateZ(0px) rotateX(10deg) rotateY(-15deg);
    }
    100%{
        transform: translateZ(200px) rotateX(10deg) rotateY(180deg);
    }
}

#out-left{
    animation: outLeft .5s ease-in-out forwards;
}
@keyframes outLeft{
    0%{
        transform: translateZ(200px) rotateX(10deg) rotateY(180deg);
    }
    100%{
        transform: translateZ(0px) rotateX(10deg) rotateY(-15deg);
    }
}

#in-right{
    animation: inRight .5s ease-in-out forwards;
}
@keyframes inRight{
    0%{
        transform: translateZ(0px) rotateX(10deg) rotateY(-15deg);
    }
    100%{
        transform: translateZ(200px) rotateX(10deg) rotateY(-180deg);
    }
}

#out-right{
    animation: outRight .5s ease-in-out forwards;
}
@keyframes outRight{
    0%{
        transform: translateZ(200px) rotateX(10deg) rotateY(-180deg);
    }
    100%{
        transform: translateZ(0px) rotateX(10deg) rotateY(-15deg);
    }
}

#red{
    background-color: #CD3333;
}

#blue{
    background-color: rgb(28, 45, 63);
}