*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html, body{
    background: skyblue;
}
div{
    position: fixed;
    width: 200px;
    height: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid;
    text-align: center;
    line-height: 200px;
}